################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wati.API/bin/Debug/net6.0
/.vs/slnx.sqlite
/Wati.API/obj
/Wati.API/.vs/Wati.API/v17/.suo
/Wait.API.Tests/bin/Debug/net6.0
/Wait.API.Tests/obj
/Wati.API/.vs/Wati.API/v17/TestStore/0
/Wait.API.Tests/bin/Release/net6.0
/Wati.API.Common/obj
/Wati.API.Common/bin/Debug/net6.0
